.trips-body {
    display: flex;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: var(--bg-dark);
}

.trips-container {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 1rem;
}
